<div class="create-employees mat-elevation-z8">
    <form [formGroup]="form" action="" (ngSubmit)="onSubmit();">
        <h1>Cadastro</h1>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" [style.padding-bottom]="'10px'">
            <mat-card class="example-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title-group>
                    <img mat-card-md-image [style.width]="'100px'" [src]="avatarView ?avatarView: '../../../../assets/img/default-avatar-profile-icon-vector-18942381.jpeg' " alt="" />
                </mat-card-title-group>
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <a mat-button href="#" (click)="incluirImagem($event);">Incluir</a>
                    <a mat-button href="#" (click)="deletarImagem($event);">Deletar</a>

                    <input type="file" style="display:none" (change)="handleFileInput($event)">
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <mat-form-field [style.width]="'100%'" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" formControlName="name">
            </mat-form-field>
            <mat-form-field [style.width]="'100%'" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <mat-form-field [style.width]="'100%'" appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="CPF" formControlName="document">
            </mat-form-field>
            <mat-form-field [style.width]="'100%'" appearance="outline">
                <mat-label>Profissão</mat-label>
                <input matInput placeholder="Ocupação" formControlName="occupation">
            </mat-form-field>
            <mat-form-field [style.width]="'100%'" appearance="outline">
                <mat-label>Salário</mat-label>
                <input matInput placeholder="Salário" formControlName="salary">
            </mat-form-field>
        </div>
        <ng-container formArrayName="phone">
            <h1>Telefone</h1>
            <div *ngFor="let _ of phone.controls; index as i">
                <ng-container [formGroupName]="i">
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
                        <mat-form-field [style.width]="'20%'" appearance="outline">
                            <mat-label>Número</mat-label>
                            <input matInput placeholder='Número' formControlName="number">
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <ng-container formArrayName="address">
            <h1>Endereco</h1>
            <div *ngFor="let _ of address.controls; index as i">
                <ng-container [formGroupName]="i">
                    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
                        <mat-form-field [style.width]="'100%'" appearance="outline">
                            <mat-label>Rua</mat-label>
                            <input matInput placeholder='Rua' formControlName="street">
                        </mat-form-field>
                        <mat-form-field [style.width]="'100%'" appearance="outline">
                            <mat-label>Cidade</mat-label>
                            <input matInput placeholder='Cidade' formControlName="city" />
                        </mat-form-field>
                        <mat-form-field [style.width]="'100%'" appearance="outline">
                            <mat-label>Número</mat-label>
                            <input matInput placeholder='Número' formControlName="number" />
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
                        <mat-form-field [style.width]="'100%'" appearance="outline">
                            <mat-label>Estado</mat-label>
                            <input matInput placeholder='Estado' formControlName="district" />
                        </mat-form-field>
                        <mat-form-field [style.width]="'100%'" appearance="outline">
                            <mat-label>Pais</mat-label>
                            <input matInput placeholder='País' formControlName="country" />
                        </mat-form-field>
                        <mat-form-field [style.width]="'100%'" appearance="outline">
                            <mat-label>CEP</mat-label>
                            <input matInput placeholder='Cep' formControlName="zipCode" />
                        </mat-form-field>
                    </div>

                </ng-container>
            </div>
        </ng-container>
        <div fxLayout="row" fxLayoutAlign="end ">
            <button type="submit" mat-raised-button>
                Salvar
            </button>

            <button (click)="cancel();" mat-raised-button>
                Cancelar
            </button>
        </div>
    </form>
</div>