table {
    width: 100%;
}

.edit {
    margin: 5px;
    cursor: pointer;
    
}

.edit >  i {
    color: #32373d;
    font-size: 18px;
}

.delete > i {
    color:#60489d;
    font-size: 18px;
    cursor: pointer;
}

button {
    margin-bottom: 30px; 
    font-weight: 500;
}  

button:hover {  
     color:#60489d ;
    
 }
 